*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 105%;
    box-sizing: border-box;
    white-space: nowrap;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, #1c0430, #521a9b);
    padding: 10px;
}
.header{
    width: 100%;
    height: min(800px, 90%);
    background:#5b24a3;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px #6539be inset;
}
.header h2 img{
    width: min(50px, 20%);
    height: auto;
    min-width: 120px;
    text-shadow: 0px 0px 10px #4a288f;
    cursor: pointer;
    padding: 10px;
}
.links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
button.sign-up{
    border: none;
    color: #e1dee7;
    background: #5b24a3;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5cm;
    box-shadow: 0px 0px 15px #47268a;
}
button.sign-up:hover{
    box-shadow: 0px 0px 15px #3c1f75 inset;
}
button.login{
    border: none;
    color: #e1dee7;
    background: #5b24a3;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5cm;
    box-shadow: 0px 0px 15px #47268a;
}
button.login:hover{
    box-shadow: 0px 0px 15px #3c1f75 inset;
}
.bars{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 15px #9b6aff;
}
button.bars:hover{
    text-shadow: 0px 0px 15px #ceb5ff;
}
.off-screen-menu{
    background-color: #5b24a3;
    box-shadow: 0px 0px 20px #6539be inset;
    color: #e1dee7;
    height: auto;
    width: min(auto, 30%);
    max-width: 450px;
    position: fixed;
    top: min(100px);
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 50px;
    align-items: left;
    text-align: left;
    font-size: auto;
    transition: .3s ease;
    border-radius: 30px;
}
.off-screen-menu button{
    background: #5b24a3;
    outline: none;
    border: none;
    color: #e1dee7;
    cursor: pointer;
    box-shadow: 0px 0px 15px #47268a;
    border-radius: 10px;
    padding:10px;
}
.off-screen-menu button:hover{
    box-shadow: 0px 0px 15px #3c1f75 inset;
}
.off-screen-menu ul{
    padding: 0;
    margin: 0;
}
.off-screen-menu li{
    margin-bottom: 10px
}
.off-screen-menu li:last-child{
    margin-bottom: 0;
}
.off-screen-menu.active{
    right: 15px;
    padding: 30px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background: #110727;
}